.header_eleve{
    margin: 3px;
    font-weight: bold;
}

.sortable{
    cursor: grab;
}
.panel-body{
    overflow: hidden;
}

.sortable{
    min-height:50px;
}

.body_eleve{
    border: solid 1px lightgray;
    margin: 10px;
    border-radius: 7px;
    padding:2px;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px lightgray;
}
.couleur_A, .couleur_P{
    background-color: #6cd9ff;
    border-radius: 7px ;
}
.couleur_B, .couleur_M{
    background-color: #69ff69;;
    border-radius: 7px ;

}
.couleur_C, .couleur_G{
    background-color: #ffca64;
    border-radius: 7px ;
}

/** Icone masquer classe **/
.classe-toggle, .no_class_toggle{
    cursor: pointer;
}

.sortable_cla{
    min-height: 50px;
    border: 1px dotted #EEE;
    border-radius: 4px;
}

#no_class{
    min-height:20px;
}
/**Eleves dans div no_class**/

#no_class .body_eleve{
    width:15%;
    display:inline-block;
}
.classe .panel-heading{
    cursor: grab;
}
h3.panel-title{
    display:inline;
}
#classes .panel .no_padding{
    padding:0px;
}
.click_hide{
    cursor:pointer;
}
#msg_year_not_selected{
    padding: 50px;
}
.all_classes, #filtre_cla{
    visibility: hidden;
}
#all_classes{
    display:inline;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 100px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
